body {
    font-family: 'Advent Pro', sans-serif;
    font-weight:bold
}
h1, h2, h4, h5, h6, a, button {
    margin: 0;
}
#barra {
    background-color: #edf1f2;
    margin:0;
}
#divIndexPrincipal {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #34495e;
    color: white;
    margin: 0;
}
#btnPromocoes {
    margin-top: -0.8pc;
}

#divMaisComprados {
    margin: 0 auto;
}
#divMaisComprados div{margin-top:2%;}
#divCategorias {
    border-color: #34495e;
}
#divCategorias a {
    color: #34495e;
}
#divCategorias li a:hover {
    background-color: #34495e;
    color: white;
    transition: 1s;
}
.panel-default {
    margin-top: 1%;}

#divTabela {
    margin-top: 2%;
    
    padding: 2%;
}
#h2Carrinho {
    margin-top: 2%
}