@{
    ViewData["Title"] = "About";
}
<h2 class="text-center">Sobre</h2>
<p class="text-center">Projeto desenvolvido para disciplina de Linguagens e Tecnicas de Programação V da Faculdade Católica do Tocantins.<br />Por Manoel Tavares, aluno de Sistemas de Informação 4º Periodo</p>
