@{
    ViewData["Title"] = "Contact";
}
<h2 class="text-center">@ViewData["Title"]</h2>


<address class="text-center">
    Manoel Tavares de Oliveira Jr<br />
    +55 63 99217-4371<br />
    <abbr>Email: manoeltavares.jr@gmail.com</abbr>
   
</address>
