@{
    ViewData["Title"] = "Home Page";
}

<div id="divIndexPrincipal" class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="alert">LJX Assessorios de Informatica</h1>
            <p>O maior e-Commerce de Hardwares do Planeta</p>
        </div>
    </div>
</div>
<div class="text-center">
    <button id="btnPromocoes" class="btn btn-success btn-lg">Acessar Promoções</button>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-12 text-center">
            <h3>Categorias</h3>
            <ul id="divCategorias" class="nav nav-pills nav-justified table-bordered ">
                <li role="presentation"><a href="#">PlacaMãe</a></li>
                <li role="presentation"><a href="#">Processadores</a></li>
                <li role="presentation"><a href="#">Memórias</a></li>
                <li role="presentation"><a href="#">HD</a></li>
                <li role="presentation"><a href="#">SSD</a></li>
                <li role="presentation"><a href="#">VGA</a></li>
                <li role="presentation"><a href="#">Cooler</a></li>
                <li role="presentation"><a href="#">Fontes</a></li>
                <li role="presentation"><a href="#">Adaptadores</a></li>
            </ul>
        </div>

        
        @foreach (var produto in ViewBag.Produtos)
        {
            <div class="col-8 col-sm-6 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img src="~/images/placa.jpg" class="img-responsive" alt="Alternate Text" />
                    </div>
                    <div class="panel-body">
                        <h5>@produto.NomeProduto</h5>
                        <p>@produto.Descricao</p>
                        <p>R$ @produto.Valor no Boleto com 5% de Desconto</p>
                        <p>Em até 8 vezes de R$ @(produto.Valor / 8)</p>
                    </div>
                    <div class="panel-footer">
                        <button class=" btn btn-success">Comprar Agora</button>
                    </div>
                </div>
            </div>

        }


    </div>
</div>

<div id="divMaisComprados" class="container">
    <div class="row">
        <div class="col-md-12 bg-primary">
            <h3>Produtos mais Comprados</h3>
        </div>

        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="~/images/compre1.png" class="img-responsive" />
                </div>
                <div class="panel-body">
                    Na compra de um Cooler Corsair F7 ganhe o segundo gratis.
                </div>
                <div class="panel-footer">
                    <button class="btn btn-block">Comprar Agora</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="~/images/15% Desconto.png" class="img-responsive" />
                </div>
                <div class="panel-body">
                   A LJx deu a louca, está com 15% de desconto em todas as Vgas do Site.
                </div>
                <div class="panel-footer">
                    <button class="btn btn-block">Comprar Agora</button>
                </div>
            </div>
        </div>
        <div class=" col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="~/images/15% Desconto.png" class="img-responsive" />
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="panel-footer">
                    <button class="btn btn-block">Comprar Agora</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img src="~/images/compre1.png" class="img-responsive" />
                </div>
                <div class="panel-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="panel-footer">
                    <button class="btn btn-block">Comprar Agora</button>
                </div>
            </div>
        </div>
    </div>
</div>




