
@{
    ViewData["Title"] = "CadastroFuncionario";
}

<div class="container">

    <div class="row">

        <form action="/Usuario/AdicionaFuncionario" method="post">

            <div class="form-group col-sm-6 col-sm-offset-3">
                <label class="control-label" for="nome">Nome Completo:</label>
                <input type="text" class="form-control" name="nome" id="nome" required>
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label class="control-label" for="email">Email:</label>
                <input type="text" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group col-sm-3 col-sm-offset-3">
                <label class="control-label" for="cpf">CPF:</label>
                <input type="text" class="form-control" name="cpf" id="cpf" required>
            </div>
            <div class="form-group col-sm-3">
                <label class="control-label" for="senha">Senha</label>
                <input type="text" class="form-control" name="senha" id="senha" required>
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label class="control-label" for="logradouro">Logradouro</label>
                <input type="text" class="form-control" name="logradouro" id="logradouro" required>
            </div>
            <div class="form-group col-sm-3 col-sm-offset-3">
                <label class="control-label" for="bairro">Bairro</label>
                <input type="text" class="form-control" name="bairro" id="bairro" required>
            </div>

            <div class="form-group col-sm-3 col-">
                <label class="control-label" for="numero">Numero</label>
                <input type="text" class="form-control" name="numero" id="numero" required>
            </div>

            <div class="form-group col-sm-6 col-sm-offset-3">
                <label class="control-label" for="numero">Complemento</label>
                <input type="text" class="form-control" name="complemento" id="complemento" required>
            </div>
            <div class="form-group col-sm-3 col-sm-offset-3">
                <label class="control-label" for="cidade">Cidade</label>
                <input type="text" class="form-control" name="cidade" id="cidade" required>
            </div>
            <div class="form-group col-sm-3 ">
                <label class="control-label" for="estado">Estado</label>

                <select class="form-control" name="estado" id="estado">

                    @foreach (var _estado in ViewBag.Estados)
                    {

                        <option value="@_estado.Id">@_estado.NomeEstado</option>

                    }
                </select>
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3">
                <label class="control-label" for="nivel">Nivel de Acesso</label>
                <select class="form-control" name="nivel" id="nivel">
                    @foreach (var _nivel in ViewBag.Niveis)
                    {

                        <option value="@_nivel.Id">@_nivel.NomeNivel</option>

                    }
                </select>
            </div>
            <div class="col-sm-12"></div>
            <div class="form-group col-sm-4 col-sm-offset-4">
                <button type="submit" name="botao-add" class="btn btn-block btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>

</div>