
@{
    ViewData["Title"] = "CadastroCliente";
}

<div class="container">
    <div class="row">

        <div class="col-md-12 text-center">
            <h2>Cadastro de Usuario</h2>
        </div>
        <form class="form" action="/AdicionaCliente" method="post">

            <div class="form-group col-md-3">
                <label class="control-label" for="nome">Nome:</label>
                <input class="form-control" name="nome" id="nome" placeholder="Seu Nome">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="email">Email:</label>
                <input class="form-control" name="email" id="email" placeholder="My label">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="cpf">Cpf:</label>
                <input class="form-control" id="cpf" placeholder="Ex.: 000.000.000-00">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="senha">Senha</label>
                <input type="password" class="form-control" name="senha" id="senha" placeholder="Digite uma senha">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="logradouro">Logradouro</label>
                <input  class="form-control" name="logradouro" id="logradouro" placeholder="My label">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="bairoo">Bairro</label>
                <input class="form-control" name="bairro" id="bairro" placeholder="My label">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="complemento">Complemento</label>
                <input  class="form-control" name="complemento" id="complemento" placeholder="My label">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="numero">Numero</label>
                <input  class="form-control" name="numero" id="numero" placeholder="My label">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="estado">Estado</label>
                <input  class="form-control" name="estado" id="estado" placeholder="My label">
            </div>
            <div class="form-group col-md-3">
                <label class="control-label" for="cidade">Cidade</label>
                <input  class="form-control" name="cidade" id="cidade" placeholder="My label">
            </div>
            <div class="form-group col-md-3">
                <label for="bota-add">Finalizar Cadastro</label>
                <input type="submit" class="btn btn-primary btn-block" id="botao-add"  placeholder="OK">

            </div>


        </form>


    </div>
</div>

