
@{
    ViewData["Title"] = "CadastroCliente";
}

<div class="container">

    <div class="row">
        <h2 class="text-center col-md-12 my-3">Cadastro Cliente</h2>

        <form class="col-md-6 mx-auto" action="/Usuario/AdicionaCliente" method="post">

            <div class="form-group">
                <label class="control-label" for="nome">Nome Completo:</label>
                <input type="text" class="form-control" name="nome" id="nome" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="email">Email:</label>
                <input type="text" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="cpf">CPF:</label>
                <input type="text" class="form-control" name="cpf" id="cpf" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="senha">Senha</label>
                <input type="text" class="form-control" name="senha" id="senha" required>
            </div>
            <div class="form-group ">
                <label class="control-label" for="logradouro">Logradouro</label>
                <input type="text" class="form-control" name="logradouro" id="logradouro" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="bairro">Bairro</label>
                <input type="text" class="form-control" name="bairro" id="bairro" required>
            </div>

            <div class="form-group">
                <label class="control-label" for="numero">Numero</label>
                <input type="text" class="form-control" name="numero" id="numero" required>
            </div>

            <div class="form-group">
                <label class="control-label" for="numero">Complemento</label>
                <input type="text" class="form-control" name="complemento" id="complemento" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="cidade">Cidade</label>
                <input type="text" class="form-control" name="cidade" id="cidade" required>
            </div>
            <div class="form-group">
                <label class="control-label" for="estado">Estado</label>

                <select class="form-control" name="estado" id="estado">

                    @foreach (var _estado in ViewBag.Estados)
                    {

                        <option value="@_estado.Id">@_estado.NomeEstado</option>

                    }
                </select>
            </div>
            
            <div class="col-sm-12"></div>
            <input id="nivel" name="nivel" value="0" hidden />
            <div class="form-group">
                <button type="submit" name="botao-add" class="btn btn-block btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>

</div>

