
@{
    ViewData["Title"] = "Login";
}

<div class="container">

    <div class="row">

        <form action="/Usuario/AutenticarLogin" method="post">

            <div class="form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <label class="control-label" for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <label class="control-label" for="senha">Senha</label>
                <input type="password" class="form-control" name="senha" id="senha" placeholder="Email">
            </div>
            <div class="col-sm-12"></div>
            <div class="form-group col-sm-2 col-sm-offset-5">
                <button class="btn btn-primary btn-block" type="submit" >Acessar</button>
            </div>
        </form>

    </div>

</div>