
@{
    ViewData["Title"] = "Login";
}

<div class="container">

    <div class="row my-5">

        <form class="form mx-auto " action="/Usuario/AutenticarLogin" method="post">
            <h3 class="text-center">Acesso</h3>
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <img src="~/images/at.png" />
                        </div>
                    </div>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Seu Email">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="senha">Senha</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <img src="~/images/lock.png" />
                        </div>
                    </div>
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                </div>
            </div>
            <div class="col-sm-12"></div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" >Acessar</button>
                <p>Ainda não é cliente? <a asp-controller="Usuario" asp-action="CadastroCliente">Cadastrar-Se</a></p>
            </div>
        </form>

    </div>

</div>
